@charset "UTF-8";

.invalid{
    border: solid 5px;
    border-color: red;
}

.result {
    position:  relative;        /* 要素の配置方法をと子要素の起点を指定 */
    /*border: solid 5px red;*/
}

.popup-enter, .popup-enter-done, .popup-exit, .popup-exit-done {
    display:none;
}

.popup-enter-active, .popup-exit-active {
	position:fixed;
    bottom:0;
    left: 0;
    right: 0;
    margin: auto;
    text-align:center;
    border: solid 1px;
    width: 100%;/*幅*/
    height: 5%;/*高さ*/
    background-color: antiquewhite;
    display:block;
}

.success-enter {
	position:absolute;
    top:0;
    left: 95%;
    right: 0;
    border: solid 5px red;
	width: 100px;/*幅*/
	height: 100px;/*高さ*/
	border-radius: 100%;/*角丸*/
    opacity: 0
}

.success-enter-done {
	position:absolute;
    top: 0;
    left: 95%;
    right: 0;
    transition: all  1s ease;
    border: solid 5px red;
	width: 100px;/*幅*/
	height: 100px;/*高さ*/
	border-radius: 100%;/*角丸*/
    opacity: 1
}

.wrong-enter {
    position:absolute;
    /* top:-30px; */
    top:0px;
    left: 100%;
    right: 0;
    width: 5px; /* 縦棒の幅 */
    height: 120px; /* 縦棒の長さ */
    background: blue; /* 縦棒の色 */
    transform: rotate(-45deg); /* 角度 */
    opacity: 0
}
.wrong-enter-done {
    position:absolute;
    /* top:-30px; */
    top:0px;
    left: 100%;
    right: 0;
    transition: all  1s ease;
    width: 5px; /* 縦棒の幅 */
    height: 120px; /* 縦棒の長さ */
    background: blue; /* 縦棒の色 */
    transform: rotate(-45deg); /* 角度 */
    opacity: 1
}
.wrong-enter-done::after {
    position:absolute;
    top:0px;
    left: 0;
    right: 0;
	content: "";
    transition: all  1s ease;
    width: 5px; /* 縦棒の幅 */
    height: 120px; /* 縦棒の長さ */
    background: blue; /* 縦棒の色 */
    transform: rotate(90deg); /* 角度 */
    opacity: 1
}
